.sample-panel-container {
    margin: 10px;
}

.sample-panel-container > div {
    text-align: center;
}

.input-row {
    margin: 8px;
}

.input-row > label {
    display: inline-block;
    width: 100px;
}

.input-row > button {
    background-color: #4d11b6;
    border: 1px solid #df0f9a;
    border-radius: 4px;
    /* color: #404040; */
    color: #d62525;
    cursor: pointer;
    width: 60px;
    text-align: center;
    margin: 4px 4px 4px 4px;
    padding: 4px;
}
